.job_title_icon {
    width: 35px;
    height: 30px;
    border: 2px solid black;
    color: white;
    background-color: purple;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
}

.well.profile-block {
    color: #FFF;
    h3 {
        margin-top: 0;
    }
}

.well.profile-description {
    background-color: #5CB85C;
    border-color: #4CAE4C;
}

.well.contact-info {
    background-color: #5BC0DE;
    border-color: #46B8DA;
}

.well.white-bg {
    background-color: white;
}

.user-profile-avatar {
    height: 120px;
    width: 120px;
}
    
    